/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


.inner{
    width:1050px;
    margin:0 auto;
}
.flexbox{
    display:flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    background-color:rgb(241, 238, 221);
    padding:10px 0;
}
header h2{
    font-size:16px;
    font-weight:normal;
}
header li{
    display:inline-block;
    margin-left:10px;
    font-size:12px;
}

.block1 {
    padding:20px 0;
    text-align:center;
}
.block1 h1{
    line-height:1.2;
    font-size:40px;
    text-align:left;
}

.block1 .icons{
    padding-top:40px;
}
.block1 .icons span{
    font-size:100px;
    display:inline-block;
    margin:0 10px;
}

.block1 .left{
    line-height:1.2;
    padding-top:10px;
}
.block1 .left p{
    font-size:16px;
    color:rgb(90, 45, 0);
}
.block1 .left h2{
    font-size:30px;
    color:rgb(90, 45, 0);
}
.block1 .left a{
    display:inline-block;
    color:white;
    background-color:red;
    padding:10px 50px;
    font-size:18px;
    border-radius:10px;
    margin-top:10px;
    font-weight:bold;
}
.block1 .right{
    background-color: rgba(7, 216, 0, 0.788);
    border-radius:5px;
    color:white;
    padding:10px;
    margin:0 10px;
    font-size:34px;
    border:1px solid green;
}
.block1 .right p:first-child{
    font-size:50px;
}
.block1 .right p:last-child{
    font-weight:bold;
}
.block1 .flexbox .flexbox a:hover{
    opacity:0.5;
}
.red{
    color:red;
}

.block2 .top{
    background-color:rgb(235, 152, 0);
}
.block2 ul{
    text-align:center;
}
.block2 .top a{
    display:inline-block;
    color:white;
    padding:10px 50px;
    border-right:1px solid white;
    font-size:18px;
}
.block2 .top a:first-child{
    border-left:1px solid white;
}

.block2 .center{
    background-image:url(塩湖02.jpg);
    background-size:cover;
    background-position:center;
    height:500px;
}

.block2 .bottom{
    background-image:url(木目.jpg);
    background-size:cover;
    padding:20px;
}
.block2 .flexbox div{
    width:18%;
    height:100px;
}
.block2 .flexbox .a{
    background-image:url(道01.jpg);
    background-size:cover;
}
.block2 .flexbox .b{
    background-image:url(最後の歌.jpg);
    background-size:cover;
    background-position:center;
}
.block2 .flexbox .c{
    background-image:url(草原02.JPG);
    background-size:cover;
    background-position-y:-25px;
}
.block2 .flexbox .d{
    background-image:url(戦車.jpg);
    background-size:cover;
    background-position:center;
}
.block2 .flexbox .e{
    background-image:url(白川郷01.JPG);
    background-size:cover;
    background-position:center;
}

.block3{
    padding:50px 0;
    background-image:url(紙.png);
    line-height:1.5;
    text-align:center;
}
.block3 span{
    font-weight:700;
}
.block3 .sougen{
    background-image:url(草原01.JPG);
    background-position-y:-50px;
    background-position-x:center;
    width:50%;
    height:300px;
    margin:20px auto 80px auto;
}
.block3 .midasi{
    text-align:center;
    font-size:24px;
    font-weight:bold;
}
.block3 .hr{
    padding:2px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin-bottom:20px;
    margin-top:10px;
}
.block3 .flexbox{
    flex-wrap:wrap;
    margin-bottom:20px;
}
.block3 .flexbox img{
    width:49%;
    margin-bottom:20px;
}
.block3 a{
    background-color:orange;
    padding:10px 70px;
    color:white;
}
.block3 a:hover{
    background-color: rgb(228, 148, 0);
}

footer{
    background-image:url(海01.JPG);
    background-size:cover;
    background-position-x:center;
    padding-top:20px;
}
footer .infomation{
    padding:20px;
    background-color:papayawhip
}
footer p{
    text-align:center;
    font-weight:bold;
    font-size:18px;
}
footer .infomation > p:last-child{
    margin-top:20px;
    font-size:24px;
}
footer .infomation > .flexbox{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    padding:10px 0 20px 0;
    margin-bottom:20px;
}
footer .box .flexbox:last-child{
    flex-wrap:wrap;
}
footer .info .left{
    width:48%;
    background-color:#cc0300;
    font-weight:bold;
    text-align:center;
    padding:20px 0;
    color:white;
    border-radius:5px;
    font-size:24px;
    border:1px solid rgb(153, 0, 0);
}
footer .info .right{
    width:48%;
    text-align:center;
    background-color:#49D046;
    color:white;
    font-weight:bold;
    padding:20px 0;
    border-radius:5px;
    border:1px solid rgb(0, 153, 51);
}
footer .right a{
    color:white;
}
footer .right p{
    font-size:24px;
}
footer .left:hover,footer .right:hover{
    opacity:0.8;
}

footer .bottom{
    width:100%;
    text-align:center;
}
footer .bottom p{
    font-size:16px;
}
footer .bottom h2{
    font-size:30px;
}

footer .flexbox h1{
    line-height:1.2;
    font-size:50px;
    text-align:left;
}

footer .flexbox .icons .fas{
    position:relative;
    left:25%;
}
footer .flexbox .icons span{
    font-size:100px;
    display:inline-block;
}

footer .flexbox .box:first-child{
    width:30%;
    padding-top:10px;
}
footer .flexbox .box:last-child{
    width:45%;
    padding-top:20px;
}

footer .flexbox .info{
    color:#68421c;
}
footer .flexbox .info .bottom{
    margin-top:24px;
}
footer .flexbox .info .bottom h2{
    font-size:50px;
    margin:10px 0;
}

footer .tenpo{
    width:100%;
    display:flex;
    margin-top:20px;
    background-color:white;
    padding:10px 0;
    text-align:center;
}
footer .tenpo .left{
    width:20%;
    background-color:inherit;
    padding:10px 0;
}
footer .tenpo .center{
    width:50%;
    padding:10px 0;
    text-align:center;
    border-left:1px solid black;
    border-right:1px solid black;
}
footer .tenpo .right{
    width:30%;
    background-color:inherit;
    color:black;
    padding:10px 0;
}

footer .menu ul{
    padding:20px;
    display:flex;
    justify-content:space-around;
}
footer .menu li{
    font-size:18px;
    list-style:none;
    color:white;
}

footer .links{
    display:flex;
    height:250px;
    border-top:1px solid white;
    border-bottom:1px solid white;
    justify-content: space-around;
}
footer .links p{
    margin-top:24px;
    font-size:18px;
    color:white;
}
footer .footer{
    text-align:center;
    padding:20px 0;
    color:white;
}

.block2 a li{
    color:white;
}
.block2 a:hover{
    background-color:orange;
}
.menu a{
    color:white;
    font-weight:bold;
    transition:color 0.25s;
}
.menu a:hover{
    color:rgb(231, 150, 0);
}
.links ul{
    margin-top:20px;
}
.links li{
    margin-bottom:12px;
    font-size:12px;
    color:white;
}

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background: white;
    opacity: 0.6;
    border-radius: 50%;
    text-align:center;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color:black;
    padding-top:12px;
    font-size:14px;
    font-weight:bold;
  }

  @media(max-width:750px){
    .inner{
        width:100%;
    }
    .block1 h1{
      font-size:30px;
    }
    .block1 .box:first-child{
        width:25%;
    }
    .block1 .icons{
        padding:0;
    }
    .block1 .icons span{
        
        font-size:50px;
    }
    .block1 .left p{
        font-size:14px;
    }
    .block1 .left h2{
        font-size:24px;
    }
    .block1 .box:last-child{
        width:50%;
    }
    .block1 .right{
        font-size:24px;
    }

    footer .flexbox h1{
      font-size:30px;
    }
    footer .box:first-child{
        width:25%;
    }
    footer .icons{
        padding:0;
    }
    footer .flexbox .icons .fas,footer .flexbox .icons .far{
        font-size:50px;
    }
    footer .flexbox .info .bottom p{
        font-size:14px;
    }
    footer .flexbox .info .bottom h2{
        font-size:24px;
    }
    footer .info .left,footer .info .right{
        width:40%;
        padding:10px;
    }
    footer .info .left,footer .right p{
        font-size:16px;
    }
    footer .flexbox .box:last-child{
        padding:0;
    }
    footer .flexbox .info .bottom{
        margin-top:10px;
    }

  }
